<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn ">
  <nz-header class="main-header custom-navbar" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">Karhabti</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/register">Sign Up</a>
      <a nz-button nzType="link" routerLink="/login">Login</a>
    </div>
  </nz-header>
</div>

<div *ngIf="isAdminLoggedIn">
  <nz-header class="main-header custom-navbar" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/admin/dashboard">Karhabti</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" (click)="logout()" roterLinkActive="active">Logout</a>
    </div>
  </nz-header>
</div>

<div *ngIf="isCustomerLoggedIn">
  <nz-header class="main-header custom-navbar" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/customer/dashboard">Karhabti</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
</div>
<router-outlet></router-outlet>