.custom-navbar{
    background-color: #003973;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .navbar-title{
        a{
            color: white;
            margin-left: 10px;
            font-size: 20px;
            font-weight: bolder;
        
        }

    }
    .nav-links{
        display: flex;
        align-items: center;
        a{
            color: white;
            margin-left: 15px;
        }



    }



}